body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    margin: 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Main Content */
.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    grid-row: 1 / 2;
    background-color:white;
    display: grid;
<<<<<<< HEAD
    grid-template-rows: 1fr 2fr;
    box-shadow: 4px 2px 10px -4px gray;
}

.header-top, .header-bottom {
    padding: 2% 4%;
    align-items: center;
}

.header-top {
    display: grid;
=======
    grid-template-rows: 1fr 1.5fr;
}

.header-top, .header-bottom {
    align-items: center;
    display: grid;
    padding: 2% 4%;
}

/* Header top */
.header-top {
>>>>>>> a47d2099f707f85262907c4ca771b4cd460df7d8
    grid-template-columns: 2fr 1.3fr;
    gap: 10%;
}

input {
    width: 90%;
    border: none;
    border-radius: 64px;
    font-size: x-large;
    background-color: whitesmoke;
}

.nav {
    display: flex;
    gap: 5%;
    align-items: center;
}

.profile {
    display: flex;
    gap: 10%;
    font-weight: bolder;
}

<<<<<<< HEAD
/* Content */
.content {
    grid-row: 2 / 3;
    background-color:azure;
}


/* Sidebar */
.sidebar {
=======
/* Header bottom */
.header-bottom {
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.profile-hi {
    display: flex;
    gap: 5%;
}

.welcome {
    font-size: small;
}

.usercode {
    font-size: large;
}

.actions {
    display: flex;
    gap: 8%;
    padding-left: 10%;
}

button {
    background-color: blue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 64px;
    width: 35%;
    padding: 0.7rem 0px;
}

.menu {
    grid-row: 1 / 3;
>>>>>>> a47d2099f707f85262907c4ca771b4cd460df7d8
    grid-column: 1 / 2;
    background-color:lemonchiffon;
}



/* Sidebar menu */
.menu {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    
}
